name: Checks

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: cargo +nightly clippy --tests -- --deny warnings
    - run: cargo +nightly test --release
